.form-new
  width: 50em
  margin: auto
  margin-top: 5em
  display: flex
  .form
    height: auto
    width: 50em
    margin: 0
    background-color: white
    padding: 2em 3em 3em 3em
    box-sizing: border-box
    color: $texto-color
    font-weight: 300
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
    border-radius: 5px
    .form-section-header
      margin: 0 0 -.5em 0
    label
      width: 100%
    .form-input
      width: 100%
      height: 2.5em
      padding: 12px 10px
      margin: .5em 0 1.1em 0
      border: 1px solid #ccc
      box-sizing: border-box
      font-weight: 300
      color: $texto-color
    .form-input-add
      @extend .form-input
      width: 91%
    .form-input-time
      width: 100%
      height: 2.5em
      padding: 5px 2px
      margin: .5em 0 0 0
      border: 1px solid #ccc
      box-sizing: border-box
      font-weight: 300
      color: $texto-color
    .form-input-num
      width: 100%
      height: 2em
      padding: 1em 0 1em .5em
      margin: .5em 0 1.1em 0
      border: 1px solid #ccc
      box-sizing: border-box
      font-weight: 300
      color: $texto-color
    .form-select
      @extend .form-input
      padding: 0 .6em
    .form-textarea
      @extend .form-input
      height: 8em
      color: $texto-color
      resize: none
      padding: 5px 10px
      font-family: Roboto
    .form-input-checkbox
      -webkit-appearance: none
      border-radius: 10px
      width: 1.5em
      height: 1.5em
      margin: 1em 1em -.25em 0
      background-color: white
      border: 1px solid #ccc
      &:checked
        background-color: #ccc
      &:focus
        outline: 0
      &:hover
        cursor: pointer

  .form-btn-icon
    background-color: transparent
    border: none
    padding: 0
    margin: 0
    width: auto
    height: auto
    &:focus
      outline: 0
  .form-submit
    width: 10em
    height: 2.5em
    border: 1px solid $color-acento-secundario
    font-size: .85em
    margin: 1.5em 0 1.5em 1.25em
    text-decoration: none
    cursor: pointer
    //box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2)

  .add-input-btn
    @extend .form-btn-icon
    font-size: .5em
    display: inline-block
    margin-left: 1em
  .delete-input-btn
    @extend .add-input-btn

  .btn-relleno
    background-color: $color-acento-secundario
    color: white

.form-row
  display: flex
  .row-3-group
    width: 60%
    margin: 0 2.5em 0 0
  .row-1-group
    width: 40%
    margin: 0
  .row-2-group
    width: 50%
    margin: 0 2.5em 0 0
  .row-7-group
    width: 12.3%
    margin: 0 1em 0 0
  .row-4-group
    width: 25%
    margin: 0 1em 0 0

  .row-5-group
    @extend .row-7-group
    width: 20%
    &:last-child
      margin: 0
