header
  margin: 0 0 0 15rem
  position: fixed
  height: 3.75em
  width: 100%
  display: flex
  background-color: white
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
  h2
    margin: 0
    padding-top: .8em
    padding-left: 1em
    width: 38em
    color: $titulos-color
    font-weight: 300
  .header-icons
    align-self: center
    text-align: right
    i
      padding-left: 1em
