@import "../1-Base/vars"

body
  font-family: 'Roboto', Helvetica
  background-color: $azul-fondo
  margin: 0

.container
  display: flex
  .main-nav
    z-index: 2
  header
    z-index: 1

.contenido
  margin-top: 0
  margin-right: 0
  margin-bottom: 0
  margin-left: 15rem

.right-align
  text-align: right

.center-align
  align-items: center
