@import "vars"

.icon-property
  cursor: pointer
  font-size: 1.8em

.icon-white
  color: white
  padding: 1em
  font-size: 1.2em
  cursor: pointer

.icon-pink
  @extend .icon-property
  color: $color-acento

.icon-gray
  @extend .icon-property
  color: $texto-color

.icon-darkgray
  @extend .icon-property
  color: $titulos-color

.icon-green
  @extend .icon-property
  color: $color-acento-secundario
