doctype html
html(lang="es")
  head
    title Viport Partners
    meta(charset="utf-8")
    link(rel="stylesheet", href="/public/css/app.css")
    link(href="//fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet")
    link(rel="stylesheet", href="/public/icons/css/icons-viport.css")
    link(rel="icon", href="/public/img/favicon.ico")
  body
    div(class="container")
      header
        h2= pageName
        div(class="header-icons")
          i(class="icon-pink icon-0" style="cursor:pointer" onclick="openNotifications()")
          i(class="icon-gray icon-buscar" style="cursor:pointer")
      div(class="main-nav")
          nav
            div(class="main-header")
              a(href="/home")
                img(src="/public/img/viportLogo.png", alt="Logo")
            ul(class="top-nav")
              li 
                a(href="/home/tablero", id="nav-tablero")
                  span 
                    i(class="icon-white icon-fotostodas")
                  span Tableros
              li
                a(href="/home/publicado", id="nav-publicado") 
                  span 
                    i(class="icon-white icon-blog")
                  span Publicado
              li 
                a(href="/home/borradores", id="nav-borradores")
                  span 
                    i(class="icon-white icon-cuaderno")
                  span Borradores
            ul(class="bottom-nav")
              li
                a(href="/home/opciones", id="nav-opciones") 
                  span 
                    i(class="icon-white icon-opciones")
                  span Opciones
              li
                a(href="/home/cerrar-sesion") 
                  span 
                    i(class="icon-white icon-salir")
                  span Cerrar sesión
      div(class="notifications" id="notifications")
        nav
          h3 Notificaciones
          i(class="icon-gray icon-continuar" style="cursor:pointer" onclick="closeNotifications()")
    block contenido
    script(src="/public/js/layout.js")

      
