extends ../layout.jade
block contenido
  div(class="contenido")
    div(class="right-align" style="padding: .5em;")
      a(href="/admin/usuarios/nuevo")
        i(class="icon-gray icon-filtrar icon-tableHeader", style="font-size: .8em;")
      a(href="/admin/usuarios/nuevo")
          i(class="icon-gray icon-mas icon-tableHeader")
    table(class="tablas")
      thead
        tr
          th Nombre
          th Tipo
          th Estado
          th Ultima Ediciòn
          th Enlace
          th Acciones
      tbody
