extends ../../layout.jade
block contenido
  div(class="contenido")
    div(class="form-new")
      form(method="POST", action="/admin/tablero")
        div(class="form")
          div(class="form-row")
            div(class="row-3-group")
              label(for="clave") Clave
              input(id="clave", type="text", name="clave", placeholder="Clave", class="form-input")
            div(class="row-1-group")
              label(for="destino") Destino
              select(id="destino", name="destino", class="form-select")
                each destino in destinos
                  option(value="#{destino.nombre}") #{destino.nombre}
          div
            label(for="name") Nombre
            input(id="name", type="text", name="name", placeholder="Nombre", class="form-input")
          div
            label(for="description") Descripción
            textarea(id="description", name="description", placeholder="Descripción", class="form-textarea")
          div(class="form-row")
            div(class="row-2-group")
              label(for="telefono") Teléfono
              input(id="telefono", type="tel", name="telefono", placeholder="xx xxxx xxx", class="form-input")
            div(class="row-2-group", style="margin: 0;")
              label(for="website") Sitio Web
              input(id="website", type="text", name="website", placeholder="sitioweb.com", class="form-input")
          div
            label(for="adress") Dirección
            input(id="adress", type="text", name="adress", placeholder="Calle, n°, colonia, delegación.", class="form-input")
          div(class="form-row")
            div(class="row-7-group")
              label(for="lunes-apertura") Lunes
              input(id="lunes-apertura", type="time", name="lunes-apertura", class="form-input-time")
              label(for="lunes-cierre")
              input(id="lunes-cierre", type="time", name="lunes-cierre", class="form-input-time")
              label(for="lunes-precio")
              input(id="lunes-precio", type="num", name="lunes-precio")
              
                
        div
          div(class="botones-inferiores right-align")
            input(type="submit", value="Crear", class="btn-relleno form-submit")
